#####
# Configuration file for the Intro to Python Programming course
#
# This provides a section-based configuration format for use by
# ConfigUtil with keys defined in ConfigConst.
#
# IMPORTANT: Edit this file to meet your local system requirements.
#

#
# MQTT client configuration information
#
[mqtt.gateway_service]
cred_file       = ./cred/IppMqttLocalCred.cfg
cert_file       = ./cert/IppMqttLocalCertFile.pem
host           = localhost
port           = 1883
secure_port     = 8883
default_qos     = 0
keep_alive      = 60
enable_auth     = False
enable_crypt    = False

#
# Test app specific configuration information
#
[ipp_test_app]
device_name = ippTestApp001
enable_mqtt_client = True
enable_system_performance = True
enable_sensing    = False
enable_logging    = True
poll_cycle_secs    = 5
test_data_path     = /tmp/ipp-data
run_forever       = False

#
# Environmental system settings
#
[settings.environmental]
# configurable limits for sensor simulation
enable_emulator     = False
humidity_sim_floor   =   35.0
humidity_sim_ceiling =   45.0
pressure_sim_floor   =  990.0
pressure_sim_ceiling = 1010.0
temp_sim_floor       =   15.0
temp_sim_ceiling     =   25.0

# configurable limits for actuator triggers
handle_temp_change_on_device = True
trigger_hvac_temp_floor     = 18.0
trigger_hvac_temp_ceiling   = 20.0

#
# Camera settings
#
[settings.camera]
stream_host_addr      = 127.0.0.1
stream_host_label     = localhost
stream_port          = 8554
stream_protocol      = rtsp
stream_path          = stream
stream_encoding      = MJPG
stream_frame_width    = 1440
stream_frame_height   = 1080
stream_fps           =   30
image_file_ext        = .png
video_file_ext        = .avi
min_motion_pixels_diff = 10000
